<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-2 border-bottom">
    <h1 class="h2">داشبورد</h1>
    <div class="col-sm-6">
         <ol class="breadcrumb bg-transparent float-sm-left">
              <li class="breadcrumb-item"><a href="/admin">داشبورد</a></li>
         </ol>
    </div>
</div>
<div class="p-4 pt-0 ">
    <div class="col m-0 bg-white shadow-lg p-2">
         <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">داشبورد</h1>

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group ml-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <!-- <button class="btn btn-sm btn-outline-secondary"> </button> -->
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
            This Week
        </button>
    </div>
</div>
<canvas class="my-4" id="myChart" width="900" height="380"></canvas>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["Sun", "Mon", "Tue", "Web", "Thur", "Fri", "Sat"],
        datasets: [{
        data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
        }]
    },
    options: {
        scales: {
        yAxes: [{
            ticks: {
            beginAtZero: false
            }
        }]
        },
        legend: {
        display: false,
        }
    }
    });
</script>